$primary-color: #3700B3;
$color2:#6200EE;
$font-color: white;
$font-style: 'Lilita One', cursive;
$border-radius: 15px;


/*
@function color($color-name) {
   @return map-get ($colors, $color-name);
}
 */




