$primary-color: #6200EE;
$color2: #3700B3;

$font-color: white;

$font-style:   font-family: 'Lilita One', cursive;
$border-radius: 15px;



/*functions
$color2:a
$font: a;
$margin-size: a;
$font-size: a;
add fun facts and do variables
sections
how can you adjust the size of it the picture in the div if the picture is too small */



