html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}


// put in box model beginning

// @import"./_header.scss";
// @import "./_variables,scss";


//  $colors:(
//     primary: #81D4FA
// );


// @function color($color-name){
//     @return map-get($colors, $color-name);
// }


// // body{
// //     background-color: red;
// // }
// // // material design


// $padding: 1.5rem;

// flex mdn
// what the flexbox, 
.flex-parent{
    height: 100vh;
    background-color: #6200EE;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-around;
   
}

.flex-child{
    // height: 50vh;
    // width: 50vh;
    // background-color: #01579B;
    // margin: 70px;
    // text-align: center;
    background:#3700B3;
    border: 3px solid rgba(0,0,0,.2);
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    height: 50vh;
    width: 50vh;
    margin: 10rem;

}

#block1{
    // display: flex;
    flex-grow: 1;
}

img{
    display: flex;
    align-items: center;
    height: 45vh;
    width: 70vh;
}

#block2{
   flex-grow: 1;
}



// .contact{
//     @extend header;
// }