@import "_variables.scss";

 html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
   
}

body{
    background-color: $primary-color;
}

.flex-parent{
    height: 70vw;
    background-color: $color2 ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-block-end: 1vw;
    border:.3vw solid black;
    border-radius: $border-radius;    
}

header{
    color:$font-color;
    font-size: 5vw;
    font-family: $font-style; 
    text-decoration: overline underline;
    text-align: center;
    text-transform: uppercase;
    padding: 1vw;
}

.flex-child{
    background: $primary-color ;
    border: .2vw solid black;
    color:$font-color;
    font-size: 2vw;
    text-align: center;
    margin: 2vw;
    flex:1;
    border-radius: $border-radius ;
    padding: 1.5vw;
   font-family: $font-style ;
}


 .flex-child img{
    max-width: 100%;
    max-height:100%;
    border-radius: 15px;
    border: .2vw solid black ;
 }

.flex-parent2{
    // height: 60vh;
    background-color: $primary-color;
    display: flex;
    flex-direction: column; 
    flex: 1 1 auto; 
    padding: 3vw;
    margin: 2vw;
    border: .3vw solid black;
    border-radius: $border-radius;
    text-align: center;
    color: $font-color;
    font-size: 1vw;
    font-family:$font-style;
    text-transform: uppercase;
    max-width: 100%;
    
}
.flex-parent3{

    display: flex;
    flex-direction: row;
    background-color: $color2 ;
    margin: 2vw;
    flex: 1 1 auto; 
    border: .3vw solid black;
    border-radius: $border-radius;
    text-align: center;
    color: $font-color;
    font-size: 2vw;
    font-family: $font-style;
    max-width: 100%;
         
}

.flex-child2{
    background: $primary-color;
    border: .3vw solid black;
    color: $font-color;
    font-size: 1.5vw;
    text-align: center;
    margin: 2vw;
    padding: 2vw;
    flex:1 1 auto;
    border-radius: $border-radius;
    font-family: $font-style;
}
.box-size{
    max-width: 30%;
}

.child2-color{
    background-color:$color2 ;
}


.width {
    min-height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
 .child2Font
 {
     font-size: 3vw;
 }