 html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
.flex-parent{
    height: 100vh;
    background-color: #6200EE;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-block-end: 5vh;

}
.flex-child{
    background:#3700B3;
    border: 3px solid rgba(0,0,0,.2);
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    // height: 10vh;
    margin: 2rem;
    flex:1;
}
 header{
     color: goldenrod;
     font-size: 10vh;
     font-family: 'Abril Fatface', cursive;
     text-decoration: overline underline;
     text-align: center;
     text-transform: uppercase;
     background-color: #3700B3;
 }
 
 .flex-child img{
    max-width: 100%;
    height: 30vh;
    // height: auto;
 }
.flex-parent2{
    // height: 60vh;
    background-color: red;
    display: flex;
    flex-direction: column; 
    flex: 1;  
    padding: 3rem;
    margin: 2rem;
}
.flex-parent3{
    height: 30vh;
    display: flex;
    flex-direction: row;
    background-color: green;
    margin: 2rem;
    flex:1;
}



/*.contact{

    @extend header;

}*/
