// separate stuf using small functions

@mixin flexCenter($direction, $background) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
     
}
// header{
//         @include flexCenter(column, red);
//         height: 100vh;
// }
